{% extends 'layout.html.twig' %}

{% block title %}Akina Wild{% endblock %}


{% block content %}


<p id="description"> Penses à l'artiste de ton choix dans la liste ci dessous, je vais essayer de le deviner ! </p>
<form method="post">
    <a href="">
        <button id="jouer" type="submit" name="jeu">► Jouer</button>
    </a>
</form>


{% endblock %}
