{% extends 'layout.html.twig' %}

{% block title %}HackinaWild{% endblock %}


{% block content %}


<div id="description">
    <p> Penses à l'artiste de ton choix dans la liste ci-dessous<br> je vais essayer de le deviner ! </p>
</div>

<div id="questions">

</div>

<button id="jouer">► Jouer</button>


{% endblock %}
