{% extends 'layout.html.twig' %}

{% block title %}Akina Wild{% endblock %}

{% block content %}

<form method="post">
    <a href="">
        {# <label type="hidden" name="jeu" value="test">test</label> #}
        <button id="jouer" type="submit" name="jeu">Oui</button>
    </a>
</form>

{% endblock %}
